@import url('https://use.typekit.net/tah1cwj.css');

:root {
  --primary-bg-lib: #f4f5f6;
  --secondary-bg-lib: #ecebe9;
  --tertiary-bg-lib: #343d42;
  --tertiary-bg-hover: #5a6a72;
  --active-bg-btn: #a48666;
  --primary-text-lib: #343d42;
  --secondary-text-lib: #a48666;
  --tertiary-text-lib: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
}
